{% extends 'base.html' %}
{% load static %}
{% block content %}
    <article id="title">
        <div class="container">
            <h2>세상에 수많은 먹방을 발견하고 보고 구독하고 좋아하고 즐기고 배고프고 주문하고 살찌고 침 흘리며 고찰한다. 먹방에 관한 고찰을 해보자. 우린 배고픈 지성인이니.</h2>
        </div>
    </article>

    <main>
        <section id="contents">
            <div class="container">
                <h2 class="ir_su">컨텐츠</h2>
                <section id="cont_left">
                    <article class="column col3">
                        <h4 class="col_tit">Blog</h4>
                        <p class="col_desc">해상도에 따라 이미지를 다르게 표현하는 방법입니다.</p>
                        <!-- blog -->
                        <div class="blog1">
                            <h5 class="ir_su">Image1</h5>
                            <figure>
                                <a href="#">
                                    <img src="{% static 'img/blog1_@1.jpg' %}" class="img-normal" alt="normal image">
                                    <img src="{% static 'img/blog1_@2.jpg' %}" class="img-retina" alt="retina image">
                                <!-- <img src="img/blog2_@1.jpg" srcset="img/blog2_@1.jpg 1x, img/blog2_@2.jpg 2x" alt="normal image"> -->

                                    <figcaption>반응형 웹 사이트 이미지 글입니다. 반응형 웹 사이트 이미지 글입니다. 반응형 웹 사이트 이미지 글입니다. 반응형 웹 사이트 이미지 글입니다.</figcaption>
                                </a>
                            </figure>
                        </div>
                        <!--//blog -->
                        <!-- blog2 -->
                        <div class="blog2 mt15">
                            <div class="img-retina">
                                <h5>Image2</h5>
                            </div>
                            <p>반응형 웹 사이트 이미지 글입니다. 반응형 웹 사이트 이미지 글입니다. 반응형 웹 사이트 이미지 글입니다.</p>
                        </div>
                        <!--//blog2 -->
                    </article>
                    <!--//col3-->
                </section>
                <!--cont_left-->
                <section id="cont_center">
                    <h3 class="ir_su">반응형 사이트 가운데 컨텐츠</h3>
                    <article class="column col4">
                        <h4 class="col_tit">Mukbang Rank</h4>
                        <p class="col_desc">먹방 랭킹 차트입니다.</p>
<!--                        &lt;!&ndash; 먹방 랭킹 차트 &ndash;&gt;{-->
<!--                            // The tab key will cycle through the settings when first created-->
<!--                            // Visit http://wbond.net/sublime_packages/sftp/settings for help-->
<!--                            -->
<!--                            // sftp, ftp or ftps-->
<!--                            "type": "sftp",-->
<!--                        -->
<!--                            "sync_down_on_open": true,-->
<!--                            "sync_same_age": true,-->
<!--                            -->
<!--                            "host": "example.com",-->
<!--                            "user": "username",-->
<!--                            //"password": "password",-->
<!--                            //"port": "22",-->
<!--                            -->
<!--                            "remote_path": "/example/path/",-->
<!--                            //"file_permissions": "664",-->
<!--                            //"dir_permissions": "775",-->
<!--                            -->
<!--                            //"extra_list_connections": 0,-->
<!--                        -->
<!--                            "connect_timeout": 30,-->
<!--                            //"keepalive": 120,-->
<!--                            //"ftp_passive_mode": true,-->
<!--                            //"ftp_obey_passive_host": false,-->
<!--                            //"ssh_key_file": "~/.ssh/id_rsa",-->
<!--                            //"sftp_flags": ["-F", "/path/to/ssh_config"],-->
<!--                            -->
<!--                            //"preserve_modification_times": false,-->
<!--                            //"remote_time_offset_in_hours": 0,-->
<!--                            //"remote_encoding": "utf-8",-->
<!--                            //"remote_locale": "C",-->
<!--                            //"allow_config_upload": false,-->
<!--                        }-->
                        
                        
                        <!--//먹방 랭킹 차트 -->
                    </article>
                </section>
                <section id="cont_right">
                    <h3 class="ir_su">오른쪽</h3>
                    <article class="column col7">
                        <h4 class="col_tit">Title</h4>
                        <p class="col_desc">이곳은 설명부분입니다.</p>
                        <!--  -->

                        <!--//-->
                    </article>
                    <!--//col7-->
                    <article class="column col8">
                        <h4 class="col_tit">Title</h4>
                        <p class="col_desc">이곳은 설명부분입니다.</p>
                        <!--  -->

                        <!--//-->
                    </article>
                    <!--//col8-->

                    <article class="column col9">
                        <h4 class="col_tit">Title</h4>
                        <p class="col_desc">이곳은 설명부분입니다.</p>
                        <!--  -->

                        <!--//-->
                    </article>
                    <!--//col9-->

                </section>
            </div>
        </section>
        <!--//contents-->
    </main>
{% endblock %}