<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
     <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="author" content="HSYOO">
	<meta name="description" content="MukGo - 먹방에 관한 고찰">
	<meta name="keywords" content="먹방에 관한 고찰, 먹방, Mukbang, 먹고, MukGo, 먹방 리스트, 쯔양, 벤쯔, 복희, 엠브로, jane asmr">
	<title>MukGo-먹방에 관한 고찰</title>

    <!--style-->
	<link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/slick.css">

<!--meta tags
      < Facebook meta tags>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="MukGo;먹방에 관한 고찰" />
    <meta property="og:url" content="http://mukgo.net/response/html5/js/index.html#" />
    <meta property="og:image" content="http://mukgo.net/response/html5/icon/MukGo_logo_1.0.jpg#" />
    <meta property="og:site_name" content="MukGo;먹방에 관한 고찰" />
    <meta property="og:description" content="먹방 랭킹, 먹방 커뮤니티" />

    < twitter meta tags>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@heasunyoo" />
    <meta name="twitter:title" content="MukGo;먹방에 관한 고찰-먹방랭킹" />
    <meta name="twitter:description" content="먹방 랭킹, 먹방 커뮤니티" />
    <meta property="twitter:image" content="http://mukgo.net/response/html5/icon/MukGo_logo_1.0.jpg" />
-->
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="../icon/MukGo_logo_1.0.jpg">
    <link rel="apple-touch-icon-precomposed" href="../icon/MukGo_logo_1.0.jpg">

    <!--웹 폰트-->
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
 
    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]> 
        <script src="js/html5shiv.min.js"></script>
        <script type="text/javascript">
            alert("현재 당신이 보는 브라우저는 지원하지 않습니다. 최신 브라우저로 업데이트해주세요!");
        </script>
    <![endif]-->

</head>
<body>
	<header id="header">
        <div class="container">
            <div class="row">
                <div class="header">
                   <div class="header-menu">
                       <a href="#">Youtube</a>
                       <a href="#">Blog</a>
                       <a href="#">Webstandard</a>
                   </div>
                   <!--//header menu-->
                   <div class="header_tit">
                       <h1>MukGo;먹방에 관한 고찰</h1><br>
                       <a href="http://mukgo.net">mukgo.net</a>
                   </div>
                   <!--//header_tit-->
        <!--header_icon
                   <div class="header_icon">
                       <ul>
                            <li><a href="#"><i class="fa fa-html5" aria-hidden="true"></i><span>HTML5</span></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i><span>GitHub</span></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i><span>Fackbook</span></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>twitter</span></a></li>
                        </ul>
                   </div>
               -->
                </div>
            </div>
        </div>
    </header>
    <!--header-->
    <nav id='nav'>
        <div class="container">
            <div class="row">
                <div class="nav">
                    <h2 class='ir_su'>전체메뉴</h2>
                        <div>
                            <h3><a href="#">먹방 랭킹</a></h3>
                            <h4><a href="#">MukBang Rank</a></h4>
                            <ol>
                                <li><a href="#">종합 랭킹</a></li>
                                <li><a href="#">국가 랭킹</a></li>
                                <li><a href="#">분야 랭킹</a></li>
                            </ol>
                        </div>
                        <div>
                            <h3><a href="#">먹방 찾기</a></h3>
                            <h4><a href="#">MukBang Search</a></h4>
                            <ol>
                                <li><a href="#">먹방 국가별</a></li>
                                <li><a href="#">먹방 분야별</a></li>
                            </ol>
                        </div>
                        <div>
                            <h3><a href="#">먹방에 관한 고찰</a></h3>
                            <h4><a href="#">Consideration about MukBang</a></h4>
                            <ol>
                                <li><a href="#">고찰들</a></li>                            
                            </ol>
                        </div>
                </div>
            </div>
        </div>
    </nav>
<!--//nav-->

    <article id="title">
        <div class="container">
            <h2>실시간 먹방 랭킹으로 먹방을 고찰해보세요</h2>
        </div>
    </article>
<!--//title-->

    <main>
        <section id="contents">
            <div class="container">
                <h2 class="ir_su">컨텐츠</h2>
                <section >
                    <h3 class="ir_su">왼쪽</h3>
                    <article class="column col1">
                        <h4 class="col_tit">Menu</h4>
                        <p class="col_desc">Box shadow 효과입니다.</p>
                        <!-- menu-->
                        <div class="menu">
                            <ul>
                                <li><a href="#">종합 랭킹<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                <li><a href="#">국가 랭킹 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                <li><a href="#">분야 랭킹 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>   

                        <!--//menu-->
                    </article>
                </section>
                
                    
                <section id="cont_center">
                    <h3 class="ir_su">반응형 사이트 가운데 컨텐츠</h3>
                    <article class="column col4">
                        <h4 class="col_tit">Slick Slider</h4>
                        <p class="col_desc">slick.js를 이용한 이미지 슬라이드 효과입니다.</p>
                        <!-- 이미지 슬라이드 -->
                        <div class="slider">
                            <div>
                                <figure>
                                    <img src="../img/slider001.jpg" alt="이미지1">
                                    <figcaption><em>Responsive Site</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드 입니다.</span></figcaption>
                                </figure>
                            </div>
                            <div>
                                <figure>
                                    <img src="../img/slider001.jpg" alt="이미지2">
                                    <figcaption><em>Responsive Site</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드 입니다.</span></figcaption>
                                </figure>
                            </div>
                            <div>
                                <figure>
                                    <img src="../img/slider001.jpg" alt="이미지3">
                                    <figcaption><em>Responsive Site</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드 입니다.</span></figcaption>
                                </figure>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </section>
        <!--//contents-->
    </main>

    <footer id="footer">
        <div class="container">
            <h2>footer</h2>
        </div>
    </footer>
    <!--//footer-->




    <!-- JavaScript Libraries -->
    <script src="../js/jquery.min_1.12.4.js"></script>
    <script src="../js/modernizr-custom.js"></script>
    <script src="../js/slick.min.js"></script>
    <script>
        //이미지 슬라이더
        $(".slider").slick({
            dots: true,
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: false,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        dots: false
                    }
                }
            ]
        });
        
        //sns 공유하기
        $(".facebook").click(function(e){
            e.preventDefault();
            window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog', 'menubar=no, toolbar=no, resizable=yes, scrollbars=yes, height=300, width=600'); 
        });
        $(".twitter").click(function(e){
            e.preventDefault();
            window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20' +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog', 'menubar=no, toolbar=no, resizable=yes, scrollbars=yes, height=300, width=600');
        });
    </script>
	
</body>
</html>