{% extends 'base.html' %}
{% load static %}
{% block content %}
<article id="title">
    <div class="container">
        <h2>실시간 먹방 랭킹으로 먹방을 고찰해보세요</h2>
    </div>
</article>

<main>
    <section id="contents">
        <div class="container">
            <h2 class="ir_su">컨텐츠</h2>
            <section >
                <h3 class="ir_su">왼쪽</h3>
                <article class="column col1">
                    <h4 class="col_tit">Menu</h4>
                    <p class="col_desc">Box shadow 효과입니다.</p>
                    <div class="menu">
                        <ul>
                            <li><a href="#">종합 랭킹<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            <li><a href="#">국가 랭킹 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            <li><a href="#">분야 랭킹 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </article>
            </section>


            <section id="cont_center">
                <h3 class="ir_su">반응형 사이트 가운데 컨텐츠</h3>
                <article class="column col4">
                    <h4 class="col_tit">Slick Slider</h4>
                    <p class="col_desc">slick.js를 이용한 이미지 슬라이드 효과입니다.</p>
                    <!-- 이미지 슬라이드 -->
                    <div class="slider">
                        <div>
                            <figure>
                                <img src="img/slider001.jpg" alt="이미지1">
                                <figcaption><em>Responsive Site</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드 입니다.</span></figcaption>
                            </figure>
                        </div>
                        <div>
                            <figure>
                                <img src="img/slider001.jpg" alt="이미지2">
                                <figcaption><em>Responsive Site</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드 입니다.</span></figcaption>
                            </figure>
                        </div>
                        <div>
                            <figure>
                                <img src="img/slider001.jpg" alt="이미지3">
                                <figcaption><em>Responsive Site</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드 입니다.</span></figcaption>
                            </figure>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>
</main>
{% endblock %}