{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div
        class="banner_content d-md-flex justify-content-between align-items-center"
      >
        <div class="mb-3 mb-md-0">
          <h2>Ranking</h2>
        </div>
        <div class="page_link">
          <a href="index.html">먹방 랭킹</a>
          <a href="contact.html">랭킹</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<section class="blog_area area-padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mb-5 mb-lg-0">
                 <div class="blog_left_sidebar">
                    <article id="title">
                        <div class="container">
                            <h2>실시간 먹방 랭킹으로 먹방을 고찰해보세요</h2>
                        </div>
                    </article>
                    <h2 class="ir_su">컨텐츠</h2>
                    <section id="cont_center">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">순위</th>
                                    <th scope="col">채널명</th>
                                    <th scope="col">구독자 수</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for channel in channels %}
                                    <tr>
                                        <td></td>
                                        <td><a href="{{ channel.url }}" class="list-group-item">{{ channel.title }}</a></td>
                                        <td>{{ channel.subscribers }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"> {{ channel.genre }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" bgcolor="black"></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                 </div>
              </div>
          </div>
      </div>
</section>
{% endblock %}